@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(216, 50%, 16%);
    height: clamp(450px, 85vh, 580px);
    width: clamp(200px, 90vw, 350px);
    border-radius: 1em;
}

.container {
    margin: 1.4em;
}

.img-container {
    width: 100%;
    height: auto;
    position: relative;
}

.product-preview {
    width: 100%;
    height: auto;
    border-radius: .5em;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 255, 247, .5);
    border-radius: .5em;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.img-container:hover .overlay {
    opacity: 1;
}

.img-container:hover {
    cursor: pointer;
}

.product-name {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.product-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.product-description {
    color: hsl(215, 51%, 70%);
    font-size: .95rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: .9rem;
    border-bottom: 1px hsl(215, 32%, 27%) solid;
}

.price-container {
    display: inline-flex;
    align-items: center;
}

.product-price {
    color: hsl(178, 100%, 50%);
    font-size: .9rem;
    margin-left: .4rem;
    font-weight: 600;
}

.availability-container {
    display: inline-flex;
    align-items: center;
}

.product-availability {
    color: hsl(215, 51%, 70%);
    font-size: .9rem;
    font-weight: 400;
    margin-left: .4rem;
}

.credits-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.user-avatar {
    width: 12%;
    height: fit-content;
    margin: 0 1rem 0 0;
    border: 1px hsl(0, 0%, 100%) solid;
    border-radius: 50%;
}

.credits {
    margin: 0;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: .9rem;
}

.product-creator {
    color: white;
}

.product-creator:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
